@font-face {
    font-family:'font-projects';
    src: url("font/Supermercado_One/SupermercadoOne-Regular.ttf");
}
@font-face {
    font-family: 'font-autor';
    src: url("font/Quintessential/Quintessential-Regular.ttf");
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-family: 'sans-serif';
    background-image:url("img/tropi.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
main{
    min-height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-container {
    font-family: 'font-projects';
    background: hsla(241, 86%, 60%, 0.767);
    padding:.5rem 0;
    margin: 2rem ;
    border-radius: .5rem;
    border-top: hsl(47, 100%, 50%) solid 5px;
    border-left: hsl(149, 100%, 65%) solid 5px;

}
.project-container a {
    color: hsl(0, 0%, 30%);
    background: hsl(0, 0%, 100%);
    border: hsl(133, 100%, 30%) 3px dashed;
    border-radius: 1em;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    min-height:10vh;
    margin: 100px 100px 100px;

}
.project-container a:hover{
    background: hsl(0, 0%, 100%);
    color: hsl(269, 100%, 58%);
    border: brown;
    border: hsl(149, 100%, 65%) 5px sold;
    box-shadow:hsl(149, 100%, 65%) 20px 18px 0px .1px ;
    border: hsl(0, 0%, 100%) 3px dashed;

}
.container_autor{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;

    background: hsla(241, 69%, 14%, 0.876);
    padding: .5em;
    border-top: 5px solid hsl(47, 100%, 50%);
    border-left: hsl(149, 100%, 65%) solid 5px;
    margin: .5rem;
    border-radius: .5rem;

    
}
.autor{
    font-family:'font-autor';
    font-size:1.5rem;
    color: hsl(0, 0%, 100%);
    border-radius: .5em;
    padding: 5px 10px;
    cursor: none;

}
.autor:hover{
    color:hsl(149, 100%, 65%);
    overflow: hidden;
}
.linkedin a img{
    display: flex;
    align-self:center;
    width: 1.4em;
    
}


@media (max-width: 620px){

    body{
    font-size: 1rem;
    }
    .project-container a{
    margin:50px;

    }
    .project-container a:hover{
    box-shadow:hsl(149, 100%, 65%) 10px 10px 0px .1px ;
    
    }
    .container_autor{
    padding: .2em;
    margin: .2rem;
    border-radius: .5rem;
        
    }
    .autor{
    font-size:1rem;
    border-radius: .5em;
    padding: 2px;

}